

.logo {
  padding: 10px 0 30px 10px;
  border-bottom: 2px dashed #ccc;

  img {
    width: 210px;
  }
}

.filters {
  margin: 50px 40px 40px;

  .filter-section {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;


  }

  .clear-filters {
    text-align: center;
    margin-top: 18px;

    button {
      color: #fff;
      background: #aaa;
      border: 0;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: 1.1em;
      font-weight: 700;
      padding: 14px 25px;
    }
  }

  input.page-filter {
    border: 0;
    padding: 7px 8px;
    width: 59px;
    font-size: 1.1em;
    margin: 0 7px;
  }
}

main {
  counter-reset: item;

  ol {
    list-style: none;
    padding: 0;

    li.single-book {
      counter-increment: item;
      float: left;
      width: 100%;
      margin-bottom: 30px;

      .book-cover {
        float: left;
        width: 40%;
      }
      .book-description {
        float: left;
        width: 50%;
        text-align: center;

        .book-title {
          margin-bottom: 15px;
        }

        .book-description-divider {
          background-color: #eb3324;
          height: 2px;
          width: 39px;
          margin: 0 auto;
        }

        .book-author {
          font-size: 1.2em;
          font-style: italic;
          font-weight: lighter;
          margin-top: 12px;
        }

        dl {
          color: #9a999a;
          font-style: italic;
        }

        .book-description-category {
          width: 50%;
          text-align: right;
          float: left;
          padding-right: 3px;
        }

        .book-description-value {
          width: 50%;
          float: left;
          text-align: left;
          margin: 0;
          padding-left: 3px;

          a {
            color: #eb3324;
            text-decoration: none;
            border-bottom: 1px dashed #eb3324;

            &:hover {
              border-bottom: 1px solid #eb3324;
            }
          }
        }
      }

      &:before {
        content: counter(item);
        float: left;
        width: 10%;
        color: #d7d7d7;
        padding-left: 6px;
        font-weight: bolder;
        font-size: 3.3em;
      }
    }
  }
}