@media (min-width: 760px) {

  main {
    ol {
      li.single-book {
        width: 50%;

        .book-cover {
          width: 100%;
          text-align: center;
        }

        .book-description {
          width: 100%;
        }
      }
    }
  }


}