@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

ul {
  list-style: none;
  padding: 0;
}

.custom-circle:after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #c5c5c5;
}

.custom-circle:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  top: -1px;
  left: -1px;
  position: relative;
  content: "";
  background-color: #c5c5c5;
  display: inline-block;
  visibility: visible;
  border: 1px solid #9a999a;
  box-shadow: 0 0 0 2px #fff inset;
}

.custom-circle ~ label {
  margin-left: 5px;
}

.filters-item {
  margin-top: 3px;
}

.small-image {
  height: 236px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;

  .image {
    display: inline-block;
    position: relative;

    img {
      margin-top: 80px;
      max-height: calc(90vh - 80px);
    }

    .close {
      position: absolute;
      top: -38px;
      right: -48px;
      background: none;
      border: 0;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}